<div fxLayout="row wrap" fxLayout.lt-sm="column" fxFlex="100" fxLayoutAlign="space-around stretch">
     <div fxFlex.gt-xs="100">
      <form [formGroup]="anomalyForm" class="example-form" >
                <div class="mb20" style="text-align: center" [ngSwitch]="title"> 
                    
                        <h3 *ngSwitchCase="'異常の編集'" i18n="AnomalyEdit">Edit Anomaly</h3>
                        <h3 *ngSwitchCase="'異常を見る'" i18n="AnomalyView">View Anomaly</h3> 
                        <h3 *ngSwitchCase="'異常を追加'" i18n="AnomalyAdd">Add Anomaly</h3> 
                       
                    
                   <!--  <h3 i18n> {{title}} 

                    </h3> -->
                   <!--  <h3 *ngSwitchCase="異常の編集">Good</h3>
                    <h3 *ngSwitchCase="異常を見る" >Bad</h3> -->
                </div>

              <mat-form-field class="example-full-width">
                  <input i18n-placeholder matInput placeholder="Name" formControlName="title">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input i18n-placeholder matInput placeholder="Anomaly Type" formControlName="anomalyType">
              </mat-form-field>
          <div>
              <div style="text-align: center; color: darkred" *ngIf="hasFormErrors" class="example-full-width">
                  <h5>{{errorMessage}}</h5>
              </div>
              <button  class="example-full-width"  mat-raised-button style="background-color: #62B648; color:white" (click)="saveAnomaly()">
                  <mat-icon>save</mat-icon>
                 {{btnText}}
              </button>
          </div>

      </form>
         </div>
</div>
