<!--<div style="color: whitesmoke; background-color: #3f51b5">-->
<!--  <div class="row mb20 pt10 pb10 text-center">-->
<!--    <div class="col-md-12">-->
<!--&lt;!&ndash;      {{this.user.email}}&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<mat-nav-list>
  <a
          *ngFor="let item of routes"
          mat-list-item
          [ngClass]="[getRouterLinkActive(item.path) ? 'active' : '']"
          (click)="goToPath(item)"
  >
    <mat-icon  class="sidenav-icon">{{ item.data.icon }}</mat-icon>
    {{ item.data.text }}
  </a>
</mat-nav-list>
