<p>
  <mat-toolbar style="background-color: #1e6316; color: white" class="fix-nav">
    <button
      mat-icon-button
      class="visible-md"
      (click)="toggleSidebar()"
      aria-label="Side nav toggle icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      <div class="nav-brand" (click)="goToHomePage()" style="cursor: pointer">
        <span>
          <img height="32" width="50" src="assets/images/enexco.png" />
          CriSys WEB</span
        >
      </div>
    </span>
    
    <!-- <div class="row nav-btns">
      <span class="col-md-1">
        
      </span>
      <div class="col-md-1">
    
      </div>
      <div class="col-md-3">
        <a class="topnav-icon" href="/anomaly" i18n>Anomalies</a>
      </div>
      <div class="col-md-3">
        <a class="topnav-icon" href="/gallery" i18n>Gallery Image</a>
      </div>
      <div class="col-md-3">
        <a class="topnav-icon" href="/gallery" i18n>Gallery Image</a>
      </div>
     
    </div> -->
    
    <div class="col-md-6">
      <a class="nav-btn-item " mat-button [routerLink]="'/anomaly'" i18n> Anomalies </a>
      <a class="nav-btn-item " mat-button [routerLink]="'/gallery'" i18n> Gallery Image </a>
      <a class="nav-btn-item " mat-button [routerLink]="'/settings/users'"> Users </a>  
    </div>
    
    

    <span class="top-nav-spacer"></span>
    <ng-container *ngFor="let language of languageList" >  
      <a button mat-button  href="/{{language.code}}/">{{language.label}}</a> 
    </ng-container> 

    <span routerLink="/settings/display">
        <div class="nav-item" style="cursor: pointer">
          <span i18n>
            Settings</span>
        </div>
      </span>

    <mat-icon>account_circle</mat-icon>
      <span *ngIf="loggedUser" class="user-name">{{ loggedUser.firstName }} </span>

    <button mat-button class="sign-out" (click)="logout()">{{ txtSignOutText }}</button>
  </mat-toolbar>
</p>


<!-- <mat-toolbar style="background-color: #1e6316; color: white" class="fix-nav">
  <button
    type="button"
    mat-icon-button
    class="visible-md"
    (click)="toggleSidebar()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand" (click)="goToHomePage()" style="cursor: pointer">
    <span>
      <img height="32" width="50" src="assets/images/enexco.png" />
      CriSys WEB</span
    >
  </div>
  <span class="nav-spacer"></span>
 
    <ng-container *ngFor="let language of languageList" >  
      <a button mat-button  href="/{{language.code}}/">{{language.label}}</a> 
    </ng-container> 

   

   
  <button mat-icon-button (click)="onLoggedout()">
 
  </button>
</mat-toolbar> -->

<!-- //*************************************** -->

<!-- <mat-toolbar style="background-color: #1e6316; color: white" class="fix-nav">
  <button
    type="button"
    mat-icon-button
    class="visible-md"
    (click)="toggleSidebar()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <span>
    <div class="nav-brand" (click)="goToHomePage()" style="cursor: pointer">
      <span>
        <img height="32" width="50" src="assets/images/enexco.png" />
        CriSys WEB</span
      >
    </div>
  </span>

  <span class="example-spacer"></span>
  <button mat-icon-button (click)="logout()"></button>
</mat-toolbar> -->

<!-- //*************************************** -->
