@import "~src/scss/variables";

:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}
.nav-brand {
  text-align: center;
}
.topnav-icon {
  text-decoration: none;
  display: flex;
  color: $white;
}
.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.nav-item{
    text-align:  center;
    margin-right: 10px;
}

// .nav-spacer {
//   flex: 1 1 auto;
// }

.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}
@media screen and (max-width: 992px) {
  .visible-md {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
    display: block;
  }
  .nav-brand {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}
.top-nav-spacer {
  flex: 1 1 auto;
}
.sign-out:hover {
  text-decoration: underline;
  color: gainsboro;
}
.user-name {
  font-size: 15px;
}
