<div class="row">
   <div class="col-md-12 text-center">
      <h4>画像情報</h4>
   </div>
</div>
<hr>
<owl-carousel-o [options]="customOptions">
   <ng-container *ngFor="let image of images">
      <ng-template carouselSlide [id]="image.id">
         <div  style="font-size:12px" class="row">
            <div class="col-md-3">
               <p>KP: {{image.kp}}</p>
            </div>
            <div class="col-md-3">
               <p>緯度: {{image.ido}}</p>
            </div>
            <div class="col-md-6">
               <p>アップロード日: {{image.dateUploaded}}</p>
            </div>
            <div class="col-md-3">
               <p>道路: {{image.road}}</p>
            </div>
            <div class="col-md-3">
               <p>経度: {{image.keido}}</p>
            </div>
            <div class="col-md-6">
               <p>ロケーション: {{image.keido}}</p>
            </div>
         </div>
         <img style="height: 400px"  src="{{image.url}}">
      </ng-template>
   </ng-container>
</owl-carousel-o>
