<div class="row">
    <div class="col-md-2">
      <h2>{{anomalyName}} </h2>  
    </div>
</div>    
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
              <i class="material-icons ">place</i> 
          </mat-panel-title>
          <mat-panel-description >
            Map Of Report
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="col-md-12 ">
            <app-map [id]="mapid" (notify)="onNotified($event)"></app-map>               
      </div>
      </mat-expansion-panel>
</mat-accordion>
<section id="sample-table" class="mat-elevation-z8 bg-white">

    <div class="row">
        <div class="col-md-12">

            <mat-list>
                <mat-list-item><span class="report-label">{{lblTitle}} : </span><span class="report-data">
                    {{this.reportData.title }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item><span class="report-label">{{lblReportId}} : </span><span class="report-data">
                        {{this.reportData.id }}</span>
                </mat-list-item>                            
                <mat-divider></mat-divider>

                <mat-list-item><span class="report-label">{{lblAnomalyId}} : </span><span class="report-data">
                        {{this.reportData.anomalyId }}</span>
                </mat-list-item>                            
                <mat-divider></mat-divider>
                
                <mat-list-item>
                    <span class="report-label">{{lblLatitude}} : </span>
                    <span class="report-data">{{this.reportData.latitude }}</span>
                    <span class="kp-divider">|</span>
                    <span class="report-label">{{lblLongitude}} : </span>
                    <span class="report-data">{{this.reportData.longitude }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <span class="report-label">{{lblRoad}} : </span><span class="report-data">
                        {{this.reportData.road}}
                    </span> 
                    <span class="kp-divider">|</span>
                    <span class="report-label">KP : </span><span class="report-data">
                        {{this.reportData.kp }} 
                    </span>
                    <span class="kp-divider">|</span>
                    <span class="report-label">{{lblDirection}} : </span><span class="report-data">
                        {{this.reportData.direction?this.reportData.direction:"--" }} 
                    </span>                    
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item><span class="report-label">{{lblCreatedAt}} : </span><span class="report-data">
                        {{this.reportData.createdAt }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item><span class="report-label">{{lblCreatedBy}} : </span><span class="report-data">
                        {{this.reportData.createdBy }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item><span class="report-label">{{lblComment}} : </span><span class="report-data">
                        {{this.reportData.comment }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <span class="report-label">{{lblImages}} : </span><br>
                <p *ngFor="let selectedLibraryImage of selectedLibraryImages">
                    <mat-icon class="preview-icon" (click)="showImage(selectedLibraryImage)">preview</mat-icon>
                    <span class="report-data">  {{selectedLibraryImage?.name}}</span>                    
                </p>
                </mat-list-item>
            </mat-list>      
        </div>
        <div class="row">
            <div class="col-md 4  mb-3">
                <button mat-raised-button style="background-color: #62B648; color:white; margin-top:30px"  (click)="goToReport()" >
                    <mat-icon style="cursor:pointer" (click)="editReport()" >edit</mat-icon>
                </button>    
            </div>
            <div class="col-md 4  mb-3">
                <button mat-raised-button style="background-color: #62B648; color:white; margin-top:30px"  (click)="goToReport()" >
                    <mat-icon style="cursor:pointer"  (click)="deleteReport()">delete</mat-icon>
                </button>    
            </div>
            <div class="col-md 4  mb-3">
                <button mat-raised-button style="background-color: #62B648; color:white; margin-top:30px" >
                 <mat-icon style="cursor:pointer" (click)="goToReport()">keyboard_return</mat-icon>
                </button>    
            </div>
        </div>
    </div>   

</section>
