/*
.row {
  display: flex;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.column {
  flex: 50%;
}

.flex-box-2 {
  display:flex;
  justify-content: flex-end;
  outline: 2px deeppink dashed;
}
*/

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading-spinner{
      width: 15%;
      margin-left: 42%;
  }
  .anomaly-id:hover,.anomaly-title:hover{
    text-decoration: underline;
    cursor: pointer;
    color: gray;
  }
  
  .mat-column-id, 
  .mat-column-anomalyType,
  .mat-column-title,
  .mat-column-comment ,
  .mat-column-createdAt ,
  .mat-column-map ,
  .mat-column-edit ,
  .mat-column-delete {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-map ,
  .mat-column-edit ,
  .mat-column-delete{
    text-align: center;
  }
  