.row {
  display: flex;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.column {
  flex: 50%;
}

.flex-box-2 {
  display:flex;
  justify-content: flex-end;
  outline: 2px deeppink dashed;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 400px;
  width: 1185px;
}

.anomaly-title {
  margin-left: 1%;
 }

#maps {
  height: 100%;
}

.btnStyle
{
  float: right; background-color: #62B648; color:white
}

.ArcGisBtn
{
  color: green;
}

.loading-spinner{
  width: 15%;
  margin-left: 42%;
}

.report-id:hover,.report-title:hover{
  text-decoration: underline;
  cursor: pointer;
  color: gray;
}
.row-comment{ 
  max-width: 20%;
}

.mat-column-id, 
.mat-column-image,
.mat-column-road,
.mat-column-title ,
.mat-column-comment ,
.mat-column-createdAt ,
.mat-column-latitude ,
.mat-column-longitude ,
.mat-column-kp ,
.mat-column-edit {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;  
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-delete{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 12% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;  
  text-align: center;
}
.mat-column-map ,
.mat-column-edit {
  text-align: center;
}
.anomaly-type{
  font-weight: 600;
  padding-right: 4%;
}
.anomaly-status {
  cursor: auto;
  border-style:solid;
  border-color:#ff0000;
  color:#ff0000 !important;
  border-radius: 3px;
  margin-right: 5%;
 }
 .anomaly-status:hover{
   background-color: white;
 }
.left-content-up{  
  font-size: 22px;
  margin-right: 33%;
  width: 30%;
}
.right-content-up{
  width: 40%;
}
.anomaly-edit{
 margin-left: 5%;
}
.left-content-down{  
  font-size: 18px;
  margin-right: 23%;
  width: 40%;
}
.right-content-down{
  width: 40%;
}
.anomaly-times{
  font-style: italic;  
}
.row-one-list{
  margin-bottom: -2%;
}
.anomaly-type{
  text-decoration: underline;
}
.lbl-comment, .anomaly-times{
  color: gray;
}