.row {
  display: flex;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.column {
  flex: 50%;
}

.flex-box-2 {
  display:flex;
  justify-content: flex-end;
  outline: 2px deeppink dashed;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 400px;
  width: 1185px;
}

.anomaly-title {
  margin-left: 1%;
  font-weight: 500;
}

#maps {
  height: 100%;
}

.btnStyle
{
  float: right; background-color: #62B648; color:white
}

.ArcGisBtn
{
  color: green;
}

.loading-spinner{
  width: 15%;
  margin-left: 42%;
}